@import material-typography.sass
/**
 * This file contains atomic css helper classes and mixins used to buid the atomics.
 * 
 * Do not include this in SFC style blocks, any atomics are already available from base.css
 */

// See: https://css-tricks.com/almanac/properties/w/word-break/
@mixin dontBreakOut()
  /* These are technically the same, but use both */
  overflow-wrap: break-word
  word-wrap: break-word

  -ms-word-break: break-all
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all
  /* Instead use this non-standard one: */
  word-break: break-word

  // https://medium.com/clear-left-thinking/all-you-need-to-know-about-hyphenation-in-css-2baee2d89179
  -webkit-hyphens: auto
  -webkit-hyphenate-limit-before: 3
  -webkit-hyphenate-limit-after: 3
  -webkit-hyphenate-limit-chars: 6 3 3
  -webkit-hyphenate-limit-lines: 2
  -webkit-hyphenate-limit-last: always
  -webkit-hyphenate-limit-zone: 8%
  
  -moz-hyphens: auto
  -moz-hyphenate-limit-chars: 6 3 3
  -moz-hyphenate-limit-lines: 2
  -moz-hyphenate-limit-last: always
  -moz-hyphenate-limit-zone: 8%
  -ms-hyphens: auto
  -ms-hyphenate-limit-chars: 6 3 3
  -ms-hyphenate-limit-lines: 2
  -ms-hyphenate-limit-last: always
  -ms-hyphenate-limit-zone: 8%
  
  hyphens: auto
  hyphenate-limit-chars: 6 3 3
  hyphenate-limit-lines: 2
  hyphenate-limit-last: always
  hyphenate-limit-zone: 8%

// *** Visual helpers *********************************************************

// Actions and buttons that can be "active" and need hover on focus
.chromaFocus
  transition: background 0.6s
.chromaFocus:hover
  background-color: var(--color-b-h)
.chromaFocus.active
  background-color: var(--color-b-i)

// This element contains long paragraphs of text, large images etc.
.contentBox
  @include dontBreakOut()
  img
    max-width: 100%

// text-helpers
h1.title
  @include TypeHeadline5()
  margin: 0
  padding: 0
  color: var(--color-a-b)  
.tooltip
  @include TypeBody2()
  color: var(--chroma-primary-d)
  font-style: italic

// Scaling helpers
@include media('<desktop')
  .onlyForDesktop
    display: none

@include media('<tablet')
  .hideOnMobile
    display: none !important

@include media('>tablet')
  .onlyForMobile
    display: none !important

