@import material-button.sass
@import material-dialog.sass
@import material-typography.sass
@import material-colors.sass
@import material-card.sass
@import include-media.scss

*:focus
  outline: none

body
  margin: 0
  padding: 0
  @include TypeBody1()

h1
  @include TypeHeadline3()
h3
  @include TypeHeadline5()
textarea
  @include TypeBody2()
a
  text-decoration: none
  background-color: rgba(0,30,50,0.2)
  padding: 0 2px
  @include TypeColorDark()

#app
  #mainContentWrapper
    padding: 0
    margin: 0
    main
      margin: 0 auto
      margin-top:72px
      max-width: 872px
      p.caption
        @include TypeCaption()
        

#AppBar
  position: fixed
  margin: 0
  padding: 0px
  top: 0
  left: 0
  width: 100%
  height: 56px
  z-index: 100
  @include ElementColorPrimary()
  #AppBarToolbar
    padding: 0px 16px
  h1
    @include TypeButton()
    line-height: 22px
    margin-top: 16px
    margin-right: 16px
  a
    @include TypeBody2()
    line-height: 22px
    margin-top: 16px
    text-decoration: none
    padding-left: 8px
    background: none

div.toolbar
  display: flex
  justify-content: space-between
  div.spacer
    flex-grow: 1

.fade-enter-active, .fade-leave-active
  transition: opacity .5s ease


.fade-enter-from, .fade-leave-to
  opacity: 0

.stream-post
  position: relative
  .avatar
    @include SpacingIcon()
    border-top-left-radius: 0%
    @include ElementColorPrimaryLight()
    position: absolute
    top: 8px
    right: 8px
    img
      margin: 3px
      max-width: 38px
      max-height: 38px
      border-radius: 50%

.banner-container
  margin: 0 16px
  margin-top: -72px
  padding: 16px
  padding-top: 72px
  background-color: rgba(0,23,37,0.1)
  border-bottom: rgba(0,23,37,0.3) solid 1px
  p
    line-height: 24px
    margin: 0
    padding: 0
  .actionBar
    display: flex
    .spacer
      flex-grow: 1