:root
  // Chromatic colors
  --chroma-alert:#bb1187
  --chroma-alert-field-tint: #f1cfe7

  // Secondary scale
  // https://gka.github.io/palettes/#/9|s|002337,05e7fb,e7fbfb|ffffe0,ff005e,006c09|1|1
  --chroma-secondary-a:#002337
  --overlay-secondary-a:rgba(0,35,55, 0.37)

  // https://imgur.com/UuoVNSc
  --color-ddb-red: #C73032
  --color-ddb-sorcerer: #992e2e

  --color-a-a: #002337
  --color-a-b: #1a394b
  --color-a-c: #334f5f
  --color-a-d: #4d6573
  --color-a-e: #667b87
  --color-a-f: #80919b
  --color-a-g: #99a7af
  --color-a-h: #b3bdc3
  --color-a-i: #ccd3d7
  --color-a-j: #e6e9eb
  // COLOR B: 004d62
  --color-b-a: #004d62
  --color-b-b: #1a5f72 
  --color-b-c: #337181 
  --color-b-d: #4d8291 
  --color-b-e: #6694a1 
  --color-b-f: #80a6b1 
  --color-b-g: #99b8c0 
  --color-b-h: #b3cad0 
  --color-b-i: #ccdbe0 
  --color-b-j: #e6edef
  // COLOR C: 007b7d
  --color-c-a: #007b7d
  --color-c-b: #1a888a
  --color-c-c: #339597
  --color-c-d: #4da3a4
  --color-c-e: #66b0b1
  --color-c-f: #80bdbe
  --color-c-g: #99cacb
  --color-c-h: #b3d7d8
  --color-c-i: #cce5e5
  --color-c-j: #e6f2f2
  // COLOR e: 8dd577 
  --color-e-a: #8dd577
  --color-e-b: #98d985
  --color-e-c: #a4dd92
  --color-e-d: #afe2a0
  --color-e-e: #bbe6ad
  --color-e-f: #c6eabb
  --color-e-g: #d1eec9
  --color-e-h: #ddf2d6
  --color-e-i: #e8f7e4
  --color-e-j: #f4fbf1

.chroma-box-1
  background-color: var(--chroma-secondary-d)
  background: linear-gradient(-42deg, var(--chroma-secondary-a) 0%, var(--chroma-secondary-d) 100%)

.chroma-box-2
  background-color: var(--chroma-primary-f)
  background: linear-gradient(-42deg, var(--chroma-secondary-g) 0%, var(--chroma-primary-i) 100%)
