@import include-media.scss
@import material-typography.sass
  
@mixin Spacing()
  margin: 0
  padding: 0

@mixin SpacingButton()
  @include Spacing()
  margin: 4px 0px
  padding: 8px 16px

@mixin SpacingIcon()
  @include Spacing()
  width: 44px
  height: 44px
  border-radius: 50px

@mixin SpacingIcon2() // 2rem tall icon
  @include Spacing()
  width: 44px
  height: 44px
  margin: 2px         // 44 + 2 * 2 = 48 = 2rem
  border-radius: 22px
  
@mixin SpacingContainer()
  margin: 16px
  padding: 8px
  @include media('<desktop')
    margin: 8px 0
    padding: 8px
  
@mixin DontBreakOut()
  /* These are technically the same, but use both */
  overflow-wrap: break-word
  word-wrap: break-word

  -ms-word-break: break-all
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all
  /* Instead use this non-standard one: */
  word-break: break-word

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto

section#mainHeader
  margin: 0
  padding: 0
  h3
    @include TypeHeadline5()
    color: var(--chroma-secondary-d)
    line-height: 48px
    margin: 0
    padding: 0

.column
  section+section
    margin-top: 12px

section.card
  h1, h2
    @include TypeHeadline5()
    &:first-child
      margin-top: 0