@mixin Spacing()
  margin: 0
  padding: 0

@mixin SpacingButton()
  @include Spacing()
  margin: 4px
  padding: 8px

@mixin SpacingIcon()
  @include Spacing()
  width: 44px
  height: 44px
  border-radius: 50px
    