// *** Theme-light ************************
// Fonts
$color-font-high: rgba(0, 0, 0, 0.87)
$color-font-medium: rgba(0, 0, 0, 0.6)
$color-font-disabled: rgba(0, 0, 0 , 0.38)
// On Dark
$color-dark-font-high: rgba(255, 255, 255, 0.87)
$color-dark-font-medium: rgba(255, 255, 255, 0.6)
$color-dark-font-disabled: rgba(255, 255, 255, 0.38)

// Universal Fill colors
$color-fill-primary: #388e3c // #00536b
$color-fill-primary-light: #6abf69 // #417f99
$color-fill-primary-dark:#00600f // #002a40
$color-fill-secodary: #eeff41
$color-fill-tertiary: #f50057 // #BB1187
$color-fill-light: #fff
$color-fill-dark: #002337


// Fills
$color-fill-medium: rgb(204, 217, 237)
$color-fill-dark: rgb(149, 172, 207)
$color-fill-darker: #648ec0

$color-fill-secondary: #eeff41
// --  
  
$color-front: rgb(0,23,37)
$color-base: #ffffff
$color-base-dark: rgb(243,244,245)
$color-base-darker: rgb(223,225,227)
$color-primary: #0271ba
$color-secondary: #eeff41
$color-secondary-light: #ffff78
$color-secondary-dark: #b8cc00

// dark!
$color-theme--dark-base: rgba(29,39,49)
$color-theme--dark-base-hover: rgb(31,57,67)
$color-theme--dark-base-11: rgba(29,39,49, 0.11)
$color-theme--dark-front: #EEEEEE

a
  color: $color-fill-primary

@mixin TypeColorDark()
  color: $color-front
  h1, h2, h3, h4
    color: $color-fill-primary-dark

@mixin TypeColorLight()
  color: rgb(218,230,240)

@mixin TypeColorPrimary()
  color: $color-primary
  
@mixin ElementColorNone()
  @include TypeColorDark()
  background: none

@mixin ElementColorBase()
  @include TypeColorDark()

@mixin ElementColorSecondary()
  @include TypeColorDark()
  background-color: $color-secondary

@mixin ElementColorPrimary()
  @include TypeColorLight()
  background-color: $color-primary
  a
    color: #BDC
  a:hover
    color: #DFE

@mixin ElementColorPrimaryDark()
  @include ElementColorPrimary()
  background-color: #004c40

@mixin ElementColorPrimaryLight()
  @include TypeColorDark()
  background-color: #579fed

@mixin BaseColorDark()
  background: rgba(0,23,37,0.1)

@mixin BoxShadow1()
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .20)

@mixin BoxShadow3()
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .20)

@mixin BoxShadow8()
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .20)
  
@mixin BoxShadow12()
  box-shadow: 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12), 0 7px 8px -4px rgba(0, 0, 0, .20)

@mixin BoxShadow24()
  box-shadow: 0 24px 38px 3px rgba(0, 23, 37, .14), 0 9px 46px 8px rgba(0, 23, 37, .12), 0 11px 15px -7px rgba(0, 23, 37, .20)
  
  