@mixin TypeColorDark()
  color: rgb(23,23,37)

@mixin TypeColorPrimary()
  color: #1de9b6

@mixin TypeColorPrimaryDark()
  color:#00b686
  
@mixin ElementColorNone()
  @include TypeColorDark()
  background: none

@mixin ElementColorPrimary()
  @include TypeColorDark()
  background-color: #1de9b6

@mixin ElementColorSecondary()
  @include TypeColorDark()
  background-color: #1b252e

@mixin ElementColorPrimaryLight()
  @include TypeColorDark()
  background-color: #6effe8

@mixin BaseColorDark()
  background: #E1E2E1

@mixin BoxShadow24()
  box-shadow: 0 24px 38px 3px rgba(0, 23, 37, .14), 0 9px 46px 8px rgba(0, 23, 37, .12), 0 11px 15px -7px rgba(0, 23, 37, .20)
  
  