@mixin TypeHeadline3()
  font-family: 'Overpass', sans-serif
  font-size: 48px
  font-weight: normal
  letter-spacing: 0px
  line-height: 56px
  margin: 0
  padding: 0

@mixin TypeHeadline4()
  font-family: 'Overpass', sans-serif
  font-size: 34px
  font-weight: normal
  letter-spacing: 0.25px
  line-height: 56px
  margin: 0
  padding: 0

@mixin TypeHeadline5()
  font-family: 'Overpass', sans-serif
  font-size: 25px
  font-weight: normal
  letter-spacing: 0px
  line-height: 32px
  margin: 0
  margin-top: 8px
  padding: 0

@mixin TypeHeadline6()
  font-family: 'Overpass', sans-serif
  font-size: 20px
  font-weight: normal
  letter-spacing: 0.15px
  line-height: 32px
  margin: 0
  margin-top: 8px
  padding: 0
  
@mixin TypeBody1()
  font-family: 'Cabin', sans-serif
  font-weight: normal
  font-size: 17px
  line-height: 24px
  letter-spacing: 0.5px

@mixin TypeBody2()
  font-family: 'Cabin', sans-serif
  font-weight: 400
  font-size: 15px
  line-height: 24px
  letter-spacing: 0.25px

.TypeBody2
  @include TypeBody2()
  
@mixin TypeButton()
  font-family: 'Cabin', 'Roboto', sans-serif
  font-weight: Medium
  font-size: 15px
  line-height: 24px
  margin: 0
  padding: 0
  letter-spacing: 1.25px
  text-transform: uppercase

@mixin TypeCaption()
  font-family: 'Cabin', sans-serif
  font-size: 13px
  font-weight: normal
  letter-spacing: 0.4px
  line-height: 16px
  margin: 0
  padding: 0

.TypeCaption
  @include TypeCaption()

@mixin TypeDisplay1()
  font-family: 'Overpass', sans-serif
  font-size: 96px
  font-weight: lighter
  letter-spacing: -1.5px
  line-height: 112px
  margin: 0
  padding: 0

@mixin TypeCardHeadline()
  @include TypeHeadline5()
  line-height: 25px
  margin: 0
  padding: 0
  margin-bottom: 11px

  