@mixin TypeBody1()
  font-family: 'Roboto', sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 24px
  margin: 0
  padding: 0
  letter-spacing: 0.5px
  
@mixin TypeButton()
  font-family: 'Roboto', sans-serif
  font-weight: Medium
  font-size: 14px
  line-height: 14px
  margin: 0
  padding: 0
  letter-spacing: 1.25px
  text-transform: uppercase