// ***
//  This file contains styles for any components containing ritch text from, or in the
//  ritch text editor.
//
//  The file is included by base.sass - and should not be included by the components themselves.
// ***
@import include-media.scss
@import material-typography.sass
@import layout.sass
// note: 1rem === 24px from the typography PoV

$icon_size: 32px

.rtEditor
  @include Rise1()
  border-top-right-radius: 12px
  .ql-editor
    min-height: 240px
    border-bottom: solid 1px var(--chroma-secondary-g)
    img
      max-width: 100%
  .ql-toolbar
    border-top-right-radius: 12px
    background-color: var(--chroma-secondary-i)
    border-bottom: solid 1px var(--chroma-secondary-g)
    padding: 4px 
    // border-top: solid red 1px
    button
      background: none
      border: none
      height: $icon_size
      width: $icon_size
      margin: 2px
      padding: 0
      background-size: $icon_size
      background-repeat: no-repeat
      background-position: top left
      &:first-of-type
        margin-left: 0
      &.ql-h-1
         background-image: url('./assets/icons/rte/rte-header-1.svg')
      &.ql-h-2
         background-image: url('./assets/icons/rte/rte-header-2.svg')
      &.ql-wikilink
         background-image: url('./assets/icons/rte/rte-link.svg')
      &.ql-bold
        background-image: url('./assets/icons/rte/rte-bold.svg')
      &.ql-italic
        background-image: url('./assets/icons/rte/rte-italic.svg')
      &.ql-strike
        background-image: url('./assets/icons/rte/rte-strike.svg')
      &.ql-underline
        background-image: url('./assets/icons/rte/rte-underline.svg')
      &.ql-image
        background-image: url('./assets/icons/rte/rte-image.svg')
      &.ql-list-ol
        background-image: url('./assets/icons/rte/rte-ol.svg')
      &.ql-list-ul
        background-image: url('./assets/icons/rte/rte-ul.svg')
      &.ql-active
        background-color: var(--color-b-f)
        border-radius: 50%
  &:hover
    .ql-toolbar
      border-top-right-radius: 12px
      background-color: var(--chroma-secondary-h)
        
.rte-embedded-image
  max-width: 100%
  max-height: 50vh
  display: block
  margin: 8px auto


// Base styles, Mobile First. Overwritten with include-media where needed
.richText, .richText .ql-editor, .ql-editor
  h1
    @include TypeHeadline3()
    color: var(--chroma-secondary-e)
  h2
    @include TypeHeadline4()
    color: var(--chroma-secondary-d)
  h3
    @include TypeHeadline5()
    color: var(--chroma-secondary-a)
  h4
    @include TypeHeadline6()
    color: var(--chroma-secondary-a)
  h1, h2, h3, h4, p, li, ul, ol
    margin: 0
    padding: 0
  ol, ul
    margin-left: 32px
    margin-top: 12px
    margin-bottom: 12px
  ol
    li
      list-style-type: decimal
  ul
    li
      list-style-type: '– '
  h1+p, h2+p, h3+p, h4+p, p+p,
  p+h2, p+h3, p+h4
    margin-top: 24px
  blockquote
    @include highEmphasis()
    background-color: var(--chroma-secondary-i)
    margin: 8px 0
    padding: 12px
    border-radius: 4px
  blockquote:first-child
    margin-top: 0
  a
    word-break: break-word

  
span.author-mention
  background-color: var(--chroma-secondary-h)
  border-radius: 4px
  padding: 0 4px

a.author-link
  background-color: var(--chroma-primary-h)
  border-radius: 4px
  color: var(--chroma-primary-a)
  padding: 0 4px
  text-decoration: none