@import include-media.scss
// Different view layouts are defined here
//
// Do not include in any components, as these are already imported by base.sass

.singleColumnLayout
  max-width: calc(30 * 24px + 16px)
  padding: 0 8px
  margin: 0 auto

// *** dashBoardLayout ************************************************
// .dashBoardLayout

@include media('>=desktop')
  .dashBoardLayout
    display: flex
    gap: 16px
    flex-wrap: wrap
  .dashBoardLayout > div
    width: calc(100% / 2 - 60px)
    flex-grow: 0
    flex-shrink: 0

@include media('>=1400px')
  .dashBoardLayout > div
    width: calc(100% / 3 - 60px)

// *** emptyLayout ****************************************************
@include media('>=tablet')
  .emptyLayout
    display: flex
    flex-wrap: wrap
    box-sizing: border-box
    div.column
      width: 100%

// *** bookLayout *****************************************************
@include media('>=tablet')
  .bookLayout
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    .column
      width: calc(15 * 24px + 16px)
      flex-shrink: 0
      flex-grow: 0
    .double
      width: calc(30 * 24px + 16px) // 720 + 16
      flex-shrink: 0
    .double-cut
      width: calc(445px + 16px)
      flex-shrink: 0
    

// *** withSideBarLayout **********************************************

.withSideBarLayout
  padding: 0 8px
  margin: 8px auto

@include media('>=tablet')
  .withSideBarLayout
    padding-left: 310px

// Cleaned


// .dashBoardLayout
//   display: flex
//   flex-direction: row
//   flex-wrap: wrap
//   align-items: flex-start
//   .dashboardCard
//     min-width: 30vw

.flexLayout
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start
  padding: 0 8px
  gap: 8px
  .flex-span-1
    width: min(400px, 100%)
    flex-grow: 0
    flex-shrink: 0
  .flex-span-2
    width: min(800px, 100%)
    flex-grow: 0
    flex-shrink: 0

// @include media('>tablet')
//   .dashBoardLayout
//     .dashboardCard
//       min-width: 520px
//       max-width: 520px
//       width:520px