// Different view layouts are defined here
//
// Do not include in any components, as these are already imported by base.sass

.singleColumnLayout
  max-width: calc(30 * 24px + 16px)
  padding: 0 8px
  margin: 0 auto

.emptyLayout
  padding: 0 8px
  margin: 0 auto