@import include-media.scss
// Different view layouts are defined here
//
// Do not include in any components, as these are already imported by base.sass

.singleColumnLayout
  max-width: calc(30 * 24px + 16px)
  padding: 0 8px
  margin: 0 auto

// *** dashBoardLayout ************************************************
.dashBoardLayout

@include media('>=tablet')
  .dashBoardLayout
    display: flex
    gap: 16px
    flex-wrap: wrap
  .dashBoardLayout > div
    width: calc(100% / 3 - 60px)
    flex-grow: 0
    flex-shrink: 0

// *** withSideBarLayout **********************************************

.withSideBarLayout
  padding: 0 8px
  margin: 8px auto

@include media('>=tablet')
  .withSideBarLayout
    padding-left: 310px

// Cleaned

.emptyLayout
  padding: 0 8px
  margin: 8px auto

// .dashBoardLayout
//   display: flex
//   flex-direction: row
//   flex-wrap: wrap
//   align-items: flex-start
//   .dashboardCard
//     min-width: 30vw

.flexLayout
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start
  padding: 0 8px
  gap: 8px
  .flex-span-1
    width: min(400px, 100%)
    flex-grow: 0
    flex-shrink: 0
  .flex-span-2
    width: min(800px, 100%)
    flex-grow: 0
    flex-shrink: 0

// @include media('>tablet')
//   .dashBoardLayout
//     .dashboardCard
//       min-width: 520px
//       max-width: 520px
//       width:520px